<a href="https://colab.research.google.com/github/benpkxd/Data-Analysis-Bootcamp/blob/main/NYCflights13_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**R_Data_Transformation**


> Description :: 5 basic questions to find insight üß†

Case Study - NYC Flight13 ‚úà


*   Q1: Which carriers are in the top3 the most airtime since Feb to Aug ?
*   Q2: Please detail the flights depart to chongqing 
*   Q3: How long from JFK depart to ORD? (Answer with mean)
*   Q4: Please summarize departure_delay in each timezone
*   Q5: Which carrier is the Most , the Least flights , Longest ,Shortest flights

### Import dataset

In [ ]:
install.packages("nycflights13")
install.packages("tidyverse")

Installing package into ‚Äò/usr/local/lib/R/site-library‚Äô
(as ‚Äòlib‚Äô is unspecified)

Installing package into ‚Äò/usr/local/lib/R/site-library‚Äô
(as ‚Äòlib‚Äô is unspecified)

In [ ]:
library(tidyverse)
library(nycflights13)

Warning message in system("timedatectl", intern = TRUE):
‚Äúrunning command 'timedatectl' had status 1‚Äù
‚îÄ‚îÄ Attaching packages ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ tidyverse 1.3.2 ‚îÄ‚îÄ
‚úî ggplot2 3.3.6      ‚úî purrr   0.3.4
‚úî tibble  3.1.7      ‚úî dplyr   1.0.10
‚úî tidyr   1.2.1      ‚úî stringr 1.4.1
‚úî readr   2.1.2      ‚úî forcats 0.5.2
‚îÄ‚îÄ Conflicts ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ tidyverse_conflicts() ‚îÄ‚îÄ
‚úñ dplyr::filter() masks stats::filter()
‚úñ dplyr::lag()    masks stats::lag()

In [ ]:
glimpse(flights)
glimpse(airlines)
glimpse(airports)
glimpse(weather)

Rows: 336,776
Columns: 19
$ year           <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2‚Ä¶
$ month          <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1‚Ä¶
$ day            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1‚Ä¶
$ dep_time       <int> 517, 533, 542, 544, 554, 554, 555, 557, 557, 558, 558, ‚Ä¶
$ sched_dep_time <int> 515, 529, 540, 545, 600, 558, 600, 600, 600, 600, 600, ‚Ä¶
$ dep_delay      <dbl> 2, 4, 2, -1, -6, -4, -5, -3, -3, -2, -2, -2, -2, -2, -1‚Ä¶
$ arr_time       <int> 830, 850, 923, 1004, 812, 740, 913, 709, 838, 753, 849,‚Ä¶
$ sched_arr_time <int> 819, 830, 850, 1022, 837, 728, 854, 723, 846, 745, 851,‚Ä¶
$ arr_delay      <dbl> 11, 20, 33, -18, -25, 12, 19, -14, -8, 8, -2, -3, 7, -1‚Ä¶
$ carrier        <chr> "UA", "UA", "AA", "B6", "DL", "UA", "B6", "EV", "B6", "‚Ä¶
$ flight         <int> 1545, 1714, 1141, 725, 461, 1696, 507, 5708, 79, 301, 4‚Ä¶
$ tailnum        <chr> "N14228", "N24211", "N619AA", "N804JB", "N668DN", "N394‚Ä¶
$ origin         <chr> "EWR", "LGA", "JFK", "JFK", "LGA", "EWR", "EWR", "LGA",‚Ä¶
$ dest           <chr> "IAH", "IAH", "MIA", "BQN", "ATL", "ORD", "FLL", "IAD",‚Ä¶
$ air_time       <dbl> 227, 227, 160, 183, 116, 150, 158, 53, 140, 138, 149, 1‚Ä¶
$ distance       <dbl> 1400, 1416, 1089, 1576, 762, 719, 1065, 229, 944, 733, ‚Ä¶
$ hour           <dbl> 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6‚Ä¶
$ minute         <dbl> 15, 29, 40, 45, 0, 58, 0, 0, 0, 0, 0, 0, 0, 0, 0, 59, 0‚Ä¶
$ time_hour      <dttm> 2013-01-01 05:00:00, 2013-01-01 05:00:00, 2013-01-01 0‚Ä¶
Rows: 16
Columns: 2
$ carrier <chr> "9E", "AA", "AS", "B6", "DL", "EV", "F9", "FL", "HA", "MQ", "O‚Ä¶
$ name    <chr> "Endeavor Air Inc.", "American Airlines Inc.", "Alaska Airline‚Ä¶
Rows: 1,458
Columns: 8
$ faa   <chr> "04G", "06A", "06C", "06N", "09J", "0A9", "0G6", "0G7", "0P2", "‚Ä¶
$ name  <chr> "Lansdowne Airport", "Moton Field Municipal Airport", "Schaumbur‚Ä¶
$ lat   <dbl> 41.13047, 32.46057, 41.98934, 41.43191, 31.07447, 36.37122, 41.4‚Ä¶
$ lon   <dbl> -80.61958, -85.68003, -88.10124, -74.39156, -81.42778, -82.17342‚Ä¶
$ alt   <dbl> 1044, 264, 801, 523, 11, 1593, 730, 492, 1000, 108, 409, 875, 10‚Ä¶
$ tz    <dbl> -5, -6, -6, -5, -5, -5, -5, -5, -5, -8, -5, -6, -5, -5, -5, -5, ‚Ä¶
$ dst   <chr> "A", "A", "A", "A", "A", "A", "A", "A", "U", "A", "A", "U", "A",‚Ä¶
$ tzone <chr> "America/New_York", "America/Chicago", "America/Chicago", "Ameri‚Ä¶
Rows: 26,115
Columns: 15
$ origin     <chr> "EWR", "EWR", "EWR", "EWR", "EWR", "EWR", "EWR", "EWR", "EW‚Ä¶
$ year       <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013,‚Ä¶
$ month      <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,‚Ä¶
$ day        <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,‚Ä¶
$ hour       <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, ‚Ä¶
$ temp       <dbl> 39.02, 39.02, 39.02, 39.92, 39.02, 37.94, 39.02, 39.92, 39.‚Ä¶
$ dewp       <dbl> 26.06, 26.96, 28.04, 28.04, 28.04, 28.04, 28.04, 28.04, 28.‚Ä¶
$ humid      <dbl> 59.37, 61.63, 64.43, 62.21, 64.43, 67.21, 64.43, 62.21, 62.‚Ä¶
$ wind_dir   <dbl> 270, 250, 240, 250, 260, 240, 240, 250, 260, 260, 260, 330,‚Ä¶
$ wind_speed <dbl> 10.35702, 8.05546, 11.50780, 12.65858, 12.65858, 11.50780, ‚Ä¶
$ wind_gust  <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, 20.‚Ä¶
$ precip     <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,‚Ä¶
$ pressure   <dbl> 1012.0, 1012.3, 1012.5, 1012.2, 1011.9, 1012.4, 1012.2, 101‚Ä¶
$ visib      <dbl> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,‚Ä¶
$ time_hour  <dttm> 2013-01-01 01:00:00, 2013-01-01 02:00:00, 2013-01-01 03:00‚Ä¶

### Transform data

manipulate NA value

In [ ]:
df <- flights

In [ ]:
#check NA 
df%>%
  apply(MARGIN = 2,function(col) sum(is.na(col)))

          year          month            day       dep_time sched_dep_time
             0              0              0           8255              0
     dep_delay       arr_time sched_arr_time      arr_delay        carrier
          8255           8713              0           9430              0
        flight        tailnum         origin           dest       air_time
             0           2512              0              0              0
      distance           hour         minute      time_hour
             0              0              0              0

In [ ]:
#imputation function
avg_repl_na = function(col){
  replace_na(col,mean(col, na.rm = T))
}

#replace na in air_time column
df$air_time <- df$air_time %>% avg_repl_na
df$dep_delay <- df$dep_delay %>% avg_repl_na

### Q1:  Which carriers are in the top3 the most airtime since Feb to Aug ?

In [ ]:
df_mini<-df %>%
  select(carrier,air_time,month)%>%
  filter(month>=2,month<=8)

df_mini %>% 
  group_by(carrier)%>%
  summarise(total_airtime = sum(air_time))%>%
  arrange(desc(total_airtime))%>%
  head(3)

  carrier total_airtime
1 UA      7191137
2 DL      4910488
3 B6      4862142

### Q2: Please detail the flights depart to chongqing

In [ ]:
airports%>%
  filter(tzone == "Asia/Chongqing") %>%
  left_join(flights,by = c("faa" = "origin"))

  faa name                          lat     lon     alt  tz dst tzone
1 DVT Deer Valley Municipal Airport 33.4117 112.457 1478 8  A   Asia/Chongqing
2 MYF Montgomery Field              32.4759 117.759   17 8  A   Asia/Chongqing
  year month ‚ãØ arr_delay carrier flight tailnum dest air_time distance hour
1 NA   NA    ‚ãØ NA        NA      NA     NA      NA   NA       NA       NA
2 NA   NA    ‚ãØ NA        NA      NA     NA      NA   NA       NA       NA
  minute time_hour
1 NA     <NA>
2 NA     <NA>

### Q3: How long from JFK depart to ORD? (Answer with mean)

In [ ]:
df%>%
  filter(origin == "JFK" & dest == "ORD")%>%
  summarize(durationJFK_to_ORD = mean(hour))

  durationJFK_to_ORD
1 13.96045

### Q4: Please summarize departure_delay in each timezone

In [ ]:
df%>%
  inner_join(airports,by = c("origin" = "faa"))%>%
  group_by(tzone)%>%
  summarize(most_late = max(dep_delay,na.rm = T),
            avg = round(mean(dep_delay,na.rm = T),1),
            most_early = min(dep_delay,na.rm = T))
  
  cat("other timezones are no data")

  tzone            most_late avg  most_early
1 America/New_York 1301      12.6 -43

other timezones are no data

### Q5: Which carriers have the Most , the Least flights , Longest ,Shortest flights

In [ ]:
flight_in_each_carrier <- df %>%
  group_by(carrier)%>%
  count(carrier)%>%
  arrange(n)%>%
  left_join(airlines,by = "carrier")
flight_in_each_carrier

   carrier n     name
1  OO         32 SkyWest Airlines Inc.
2  HA        342 Hawaiian Airlines Inc.
3  YV        601 Mesa Airlines Inc.
4  F9        685 Frontier Airlines Inc.
5  AS        714 Alaska Airlines Inc.
6  FL       3260 AirTran Airways Corporation
7  VX       5162 Virgin America
8  WN      12275 Southwest Airlines Co.
9  9E      18460 Endeavor Air Inc.
10 US      20536 US Airways Inc.
11 MQ      26397 Envoy Air
12 AA      32729 American Airlines Inc.
13 DL      48110 Delta Air Lines Inc.
14 EV      54173 ExpressJet Airlines Inc.
15 B6      54635 JetBlue Airways
16 UA      58665 United Air Lines Inc.

In [ ]:
longest_flight_carrier <- df%>%
  filter(hour == max(hour))%>%
  distinct(carrier)%>%
  left_join(airlines,by = "carrier")
longest_flight_carrier

  carrier name
1 B6      JetBlue Airways
2 UA      United Air Lines Inc.
3 DL      Delta Air Lines Inc.

In [ ]:
shortest_flight_carrier <- df%>%
  filter(hour == min(hour))%>%
  distinct(carrier)%>%
  left_join(airlines,by = "carrier")
shortest_flight_carrier

  carrier name
1 US      US Airways Inc.

In [ ]:
install.packages("glue")
library(glue)

In [ ]:
glue(" Carrier which has The most flight is {flight_in_each_carrier[16,3]} ,The one has least flights is {flight_in_each_carrier[1,3]}")
glue(" Carrier has longest flights is {longest_flight_carrier[,2]} and the one has shortest flight is {shortest_flight_carrier[,2]}")

 Carrier which has The most flight is United Air Lines Inc. ,The one has least flights is SkyWest Airlines Inc.

 Carrier has longest flights is c("JetBlue Airways", "United Air Lines Inc.", "Delta Air Lines Inc.") and the one has shortest flight is US Airways Inc.

## RpostgreSQL

In [ ]:
install.packages("RPostgreSQL")
library(RPostgreSQL)

Installing package into ‚Äò/usr/local/lib/R/site-library‚Äô
(as ‚Äòlib‚Äô is unspecified)

Loading required package: DBI

In [ ]:
con = dbConnect(
  PostgreSQL(),# driver 
  host = "tiny.db.elephantsql.com", #com that run our server
  dbname = "jjcebrax",
  port = 5432, #gate that user access through
  user = "jjcebrax",
  password = "ZkdHpR3d9s9QA3rk7wTeEb07N06tWt6o"
)

In [ ]:
dbListTables(con)
students<-data.frame(
id =  1:4,
name = c("Ben","Bas","Base","Boss"),
grade = c("A","B","C","D")
)
#remove : dbRemoveTable(con,"students_server")
dbWriteTable(con,"students_server",students,row.names=F)

character(0)

[1] TRUE

In [ ]:
dbListTables(con)

[1] "students_server"

In [ ]:
dbGetQuery(con,"SELECT * FROM students_server")

  id name grade
1 1  Ben  A
2 2  Bas  B
3 3  Base C
4 4  Boss D

In [ ]:
#close connection
dbDisconnect(con)

[1] TRUE